<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @spellsheet.character %>
</p>

<%= link_to 'Edit', edit_spellsheet_path(@spellsheet) %> |
<%= link_to 'Back', spellsheets_path %>
