<%= form_for(@infosheet) do |f| %>
  <% if @infosheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infosheet.errors.count, "error") %> prohibited this infosheet from being saved:</h2>

      <ul>
      <% @infosheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
