<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @skillsheet.character %>
</p>

<%= link_to 'Edit', edit_skillsheet_path(@skillsheet) %> |
<%= link_to 'Back', skillsheets_path %>
